[user]
    name = Avery Peterson
    email = 26026736+acp9191@users.noreply.github.com
    signingkey = CB727584EB9C70ED

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[core]
    editor = vi
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[pull]
    rebase = true

[rerere]
    enabled = true

[push]
    autoSetupRemote = true
